@font-face {
  font-family: 'NerisBlack';
  src: url('fonts/NerisBlack.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltipThemeClass {
  font-family: 'NerisBlack' !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  max-width: 40% !important;
  text-align: center !important;
  opacity: 0.75 !important;
}
